.app
{
    height: 100vh;
}

.sections
{
    width: 100%;
    height: calc(100vh - 4.375em); /*new*/
    background-color: lightsalmon;
    position: absolute;
    top: 4.375rem;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory; /*new*/
    &::-webkit-scrollbar /*new, To Remove Scroll Bar*/ 
    {
        display: none;
    }
   
}

.section
{
    width: 100vw;
    height: calc(100vh - 4.375em);
    scroll-snap-align: start; /*new*/
}

